@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  margin: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.flexCenter {
  @apply flex justify-center items-center;
}

.flexBetween {
  @apply flex justify-between items-center;
}

.flexStart {
  @apply flex items-center justify-start;
}

.text-small {
  @apply text-sm font-medium;
}

.paddings {
  @apply lg:px-20 py-6 px-5;
}

/* My CSS */

.header {
  @apply bg-black h-14 border-b-2 border-gray-400 text-white;
}

.headerlink {
  @apply flex h-full;
}

.content {
  @apply flex grow-[1];
}

.mainPage {
  @apply flex justify-center bg-black text-white w-full;
}

.leftSideBar {
  @apply w-12 text-white bg-black  border-r-2 border-gray-400 left-0;
}

.rightSideBar {
  @apply w-12 text-white bg-black  border-l-2 border-gray-400 right-0;
}

.footer {
  @apply flex flex-row justify-center pt-2 bg-black h-14 text-white border-t-2 border-gray-400;
}

.logoCss {
  @apply p-1;
}

.navLink {
  @apply flex gap-1 md:gap-5 pt-4 ml-4;
}

.avatarSection {
  @apply pt-4 mr-4;
}

.avatar {
  @apply inline-block h-6 w-6 rounded-full ring-2 ring-white;
}
