@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
}

.flexCenter {
  @apply flex justify-center items-center;
}

.flexBetween {
  @apply flex justify-between items-center;
}

.flexStart {
  @apply flex items-center justify-start;
}

.text-small {
  @apply text-sm font-medium;
}

.paddings {
  @apply lg:px-20 py-6 px-5;
}

/* My CSS */

.layout {
  @apply mx-auto flex flex-col;
}

.header{
  @apply flex bg-black h-14 w-full border-b-2 border-gray-400 text-white;
}

.logoCss{
  @apply p-1;
}

.navLink{
@apply flex gap-1 md:gap-5 pt-4 ml-4
}

.avatarSection{
  @apply pt-4 mr-4
}

.footer {
  @apply flex flex-row justify-center pt-2 h-10  text-white bg-black w-full border-t-2 border-gray-400;
}

.leftSideBar{
  @apply w-12 text-white bg-black  border-r-2 border-gray-400;
}

.rightSideBar{
  @apply  w-12 float-right text-white bg-black  border-l-2 border-gray-400;
}

.mainPage{
  @apply grow-[1] bg-black w-full p-4;
}

.avatar{
  @apply inline-block h-6 w-6 rounded-full ring-2 ring-white
}